* {
  padding: 0;
  margin: 0;
}

/* header*/
.header {
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px 0px;
}
.header-logo, .header-nav {
  display: flex;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header-logo-imgCorte, .header-nav-imgCorte {
  width: 300px;
}
.header-logo-text .iconoPrincipal, .header-nav-text .iconoPrincipal {
  margin: 0px 5px;
}
.header-logo .iconoPrincipal, .header-nav .iconoPrincipal {
  width: 15px;
}
.header-logo .iconoPrincipalTel, .header-nav .iconoPrincipalTel {
  width: 30px;
}
.header-logo .telefono, .header-nav .telefono {
  font-size: 25px;
  position: relative;
  top: -15px;
}
.header-logo .separador, .header-nav .separador {
  border-left: thick solid black;
  border-width: 1px;
}
.header-logo ul, .header-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 20px;
}
.header-logo li, .header-nav li {
  margin: 0px 10px;
}
.header-nav {
  background-color: white;
  width: 100%;
}
.header-nav ul {
  height: auto;
  align-items: center;
  font-size: 13px;
  width: 80%;
  margin: auto;
}
.header-nav-img {
  width: 60px;
}
.header-nav li:hover {
  border-bottom: 2px solid #67B500;
}

/* main*/
.main {
  background-color: #f7f7f7;
  padding-bottom: 50px;
  border-bottom: 2px solid #efefef;
}
.main-nav {
  width: 80%;
  margin: auto auto 15px auto;
  padding-bottom: 15px;
  border-bottom: 2px solid #efefef;
}
.main-nav .flecha {
  width: 15px;
}
.main-parrafo {
  width: 80%;
  margin: auto auto 15px auto;
  font-weight: bold;
}
.main span {
  color: #67B500;
}
.main-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;
  margin-top: 15px;
}
.main-nav ul li {
  background-color: #67B500;
  padding: 12px;
}
.main-caja {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
.main-caja-individual {
  width: 49%;
  background-color: white;
  margin-bottom: 25px;
}
.main-caja-individual .texto {
  padding: 20px;
}
.main-caja-individual .texto .precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-caja-individual .texto .precio .euros {
  font-size: 45px;
  font-weight: bold;
  color: #67B500;
}
.main-caja-individual .texto .precio .informacion {
  padding: 10px;
  border: 1px solid #67B500;
  color: #67B500;
}
.main-caja-individual .texto li {
  list-style: none;
}
.main-caja-individual .texto p {
  font-size: 15.5px;
  margin-bottom: 30px;
}
.main-caja-individual img {
  width: 100%;
}
.main-textoFinal {
  width: 80%;
  margin: auto;
  background-color: white;
  padding-bottom: 20px;
}
.main-textoFinal h3 {
  margin-bottom: 15px;
  font-size: 30px;
}
.main-textoFinal h3, .main-textoFinal p {
  padding: 20px 20px 0px 20px;
}

.footer {
  background-color: #f7f7f7;
  padding-top: 50px;
}
.footer-logos {
  width: 80%;
  margin: auto;
}
.footer-logos ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  font-size: 15px;
  color: #67B500;
}
.footer-logos ul li {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  width: 100%;
}
.footer-logos ul img {
  width: 50%;
}
.footer-imgFooter {
  margin: 70px auto 50px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.footer-imgFooter article p {
  padding: 10px;
  border: 1px solid white;
  width: 120px;
  position: relative;
  top: -60px;
  left: 20px;
  color: white;
  text-align: center;
}
.footer-imgFooter article p.verde {
  color: #67B500;
  border: 1px solid #67B500;
}
.footer-nosotros {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.footer-nosotros-titulo {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #67B500;
}
.footer-nosotros-titulo ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 85%;
  text-align: center;
}
.footer-nosotros-columna {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 10px;
  color: #67B500;
}
.footer-nosotros-columna ul {
  list-style: none;
  text-align: center;
}
.footer-nosotros-columna .ultimaColumna {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */