
/* header*/
.header{
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px 0px;
    

    &-logo,
    &-nav{
        display: flex;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        &-imgCorte{
            width: 300px;
        }

        &-text .iconoPrincipal{
            margin: 0px 5px;
        }
        .iconoPrincipal{
            width: 15px;
        }
        .iconoPrincipalTel{
            width: 30px;
        }

        .telefono{
            font-size: 25px;
            position: relative;
            top: -15px;
        }
        .separador{
            border-left: thick solid black;
            border-width:1px;
           }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            height: 20px;
        }
        li{
            margin: 0px 10px;
        }
    }
    
    &-nav{
        background-color: white;
        width: 100%;
        & ul{
            height: auto;
            align-items: center;
            font-size: 13px;
            width: 80%;
            margin: auto;
        }
        &-img{
            width: 60px;
        }
        & li:hover{
            border-bottom: 2px solid #67B500;
        }
    }
}

