.header{
    background-color: aqua;
    text-align: center;

    &-logo{
        display: flex;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: auto;

        &-imgCorte{
            width: 300px;
        }

        .iconoPrincipal{
            width: 10px;
        }
    }
    
    & ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
i

}

